.form-container {
  border-radius: 5px;
  padding: 20px;
  width: auto;
  margin: 35px auto 5px;
  background-color: var(--background-second-color);
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.15);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.btn-form {
  font-size: 1rem;

  min-width: 17vh;
  padding: 5px 15px 5px 15px;

  border-radius: 5px;
  background-color: var(--second-color);
  border: 1px solid var(--first-color);
  color: var(--second-font-color);
}
.btn-form:hover {
  background-color: var(--first-color) !important;
  transition: all 0.3s ease-in-out;
}
span.sw{
  color:crimson;
}