@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
    --background-first-color:#e9ecef;
    --background-second-color:#ffffff;
    --background-third-color:#777777;

    --first-color: #1C73BE;
    --second-color: #66A6F7;
    --third-color: #DEF2FF;
    --fourth-color: #DBA11C;
    
    --first-font-color: black;
    --second-font-color: #fff;
}

*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    max-width: 100%;
    font-family: "Montserrat", sans-serif;
}


body    {
  background-color: var(--background-first-color)
}

.flashTitle, .paymentTitle {
  color:var(--first-color);
}