.ff {
  min-width: 100%;
}

.finder {
  padding: 2vh;
}

.emptyTitle:hover {
  color: crimson;
}

.rowItem {
  padding-left: 12px;
}

.cartInfo {
  color: var(--first-color);
}

.deleteItem {
  color: brown;
  font-size: 15px;
}

.deleteItem:hover  {
  color: crimson;
}