@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
    --background-color:#e9ecef;
    --first-color: #F5F5F5;
    --second-color: #C4DCBE;
    --third-color: #7DB684;
    --fourth-color: #023b04;
    --fifth-color: #fff;
    --first-font-color: black;
    --second-font-color: #fff;
}

*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    max-width: 100%;
    font-family: "Montserrat", sans-serif;
}



/* NavBar, Header & Footer Start */
.gradient-custom {
    background: var(--first-color);
}

header {
    background: var(--first-color);
}

nav.navbar {
    background-color: #F5F5F5 !important;
}

li.nav-item {
    font-size: 1.2rem;
    font-weight: bold;
}

a.nav-link:hover {
    color: #023b04;
}

/* Color iconos Footer */
#root > footer > div.container.pt-4 > section > a > i {
  color: var(--second-color);
}

#root > footer > div.container.pt-4 > section > a > i:hover {
  color: var(--third-color);
}

.footerBar {
  background-color: var(--third-color);
}

 body    {
  background-color: #F5F5F5
}


.imgBlog {
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  padding-left: 0px;
}

.card {
 
  
  -webkit-box-shadow: 0px 8px 15px 8px #7C7C7C; 
  box-shadow: 0px 8px 15px 8px #7C7C7C;
transition: all 0.4s ease-out;
}

.card:hover {
  transition: all 0.4s ease-out;
  -webkit-box-shadow: 0px 10px 15px 11px #7C7C7C; 
  box-shadow: 0px 10px 15px 11px #7C7C7C;
}

.ecommerceTitle {
  margin-top: 25px;
  color: var(--fourth-color);


}